body {
  background-color: #eee;
}

#hotlinks {
    margin: 0 0 0 0;
}

a i {
  color: #777;
  text-decoration: none;
}

a:hover .fa-circle {
  color: #0080FF;
}

h4 {
  margin-top: 30px;
}

#personal_container {
  /*background-color: red;*/
  margin: 30px 30px 30px 30px;
}
